:root {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 40px;
  display: grid;
  row-gap: 20px;
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #a7a7a72e;
}

.top {
  position: relative;
  align-self: start;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hourly {
  position: relative;
  align-self: start;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: #5050507a;
  fill: #fff;
}

.weekly {
  position: relative;
  align-self: start;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: #5050507a;
  fill: #fff;
}

.search-box {
  justify-self: start;
}

.current {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  justify-self: center;
  background: #5050507a;
}

.degrees-toggle {
  justify-self: end;
}

.wide-hours-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 20px;
}

.hour-weather {
  /* width: 80px; */
}

.days-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.day-weather {
  /* width: 200px; */
}
