:root {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  padding: 40px;
  display: grid;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wide-hours-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 20px;
}

.hour-weather {
    /* width: 80px; */
}

.days-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.day-weather {
    /* width: 200px; */
}