@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.content {
  z-index: 10;
  max-width: 900px;
  position: relative;
  padding: 40px 40px 0 40px;
  display: grid;
  row-gap: 20px;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #a7a7a72f;
}

/* top bar styles (search box, current, and degree toggle buttons */
.top {
  position: relative;
  align-self: start;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* search box styles*/
.search-box {
  justify-self: start;
  align-self: start;
  padding: 4px;
  background: #5050507a;
  border-radius: 10px;
}

.search-box form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  padding-left: 8px;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
}

.search-box input::placeholder {
  color: #ffffff9d;
}

.search-box button {
  background: none;
  border: none;
  font-size: 1.5rem;
  fill: #ffffff9d;
  cursor: pointer;
}

.search-box button:hover {
  fill: #fff;
}

/* current styles */
.current {
  width: 250px;
  min-height: 250px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  justify-self: center;
  background: #5050507a;
  text-align: center;
}

h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.cur-deg {
  font-size: 3.5rem;
  font-weight: 300;
}

.cur-condition {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.cur-time {
  font-size: 1rem;
  font-weight: 400;
}

.cur-time .hour,
.cur-time .date {
  margin-bottom: 8px;
}

.cur-hi-lo {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* degree toggle box */

.degrees-toggle {
  display: flex;
  gap: 16px;
  padding: 7px;
  background: #5050507a;
  border-radius: 10px;
  justify-self: end;
  align-self: start;
}

.degrees-toggle button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.degrees-toggle button.inactive {
  color: #ffffff9d;
}

.degrees-toggle button:hover {
  color: #fff;
}

/* hourly and weekly titles */
.hourly h2,
.weekly h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff9d;
  fill: #ffffff9d;
}

/* hourly styles */
.hourly {
  position: relative;
  height: 208px;
  align-self: start;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: #5050507a;
  fill: #fff;
}

.hourly-bar {
  position: relative;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.hourly-bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff27;
}

.hourly h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff9d;
  fill: #ffffff9d;
}

.hourly h2 span {
  padding-right: 4px;
}

.hour-buttons {
  display: flex;
  gap: 20px;
  margin-right: 16px;
}

.hour-buttons button {
  fill: #ffffff9d;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hour-buttons button:hover {
  fill: #fff;
}

.hour-buttons button.inactive:hover {
  fill: #ffffff9d;
}

.hours-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.hour-weather {
  display: grid;
  gap: 16px;
  text-align: center;
}

.hour-weather.hidden {
  display: none;
}

.hour-icon {
  font-size: 1.5rem;
}

/* weekly styles */
.weekly {
  position: relative;
  align-self: start;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: #5050507a;
  fill: #fff;
  overflow-x: hidden;
}

.weekly-bar {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.weekly-bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff27;
}

.weekly h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff9d;
  fill: #ffffff9d;
}

.weekly h2 span {
  padding-right: 4px;
}

.days-container {
  display: grid;
  gap: 40px;
}

.day-weather {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr 180px;
  justify-items: center;
  align-items: center;
}

.day-weather:not(.day-weather:last-of-type)::after {
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff27;
}

.day-name {
  width: 100%;
  text-align: center;
}

.day-icon {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.day-hi-lo {
  width: 100%;
  font-size: 1rem;
  display: flex;
}

.day-hi-deg {
  margin-right: 50px;
}

/* degrees ° ::after */
.degree {
  position: relative;
}
.degree::after {
  position: absolute;
  content: "°";
}

/* loading styles */
.loading-container {
  height: 100%;
  display: none;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.main.loading .loading-container {
  display: flex;
}

.main.loading .current-container,
.main.loading .hours-container,
.main.loading .days-container {
  display: none;
}

.loading-icon {
  fill: #fff;
  font-size: 3rem;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 2rem;
}

/* error styles */
.error-container {
  height: 100%;
  display: none;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.main.error .current-container,
.main.error .hours-container,
.main.error .days-container {
  display: none;
}

.main.error .error-container {
  display: flex;
}

.error-title {
  font-size: 2rem;
}

/* footer styles */
.footer {
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  background: #5050507a;
  color: #fff;
  font-size: 0.9rem;
  align-self: flex-end;
}

.footer-text {
  margin-right: 6px;
}

.footer svg {
  fill: #fff;
}

@media only screen and (max-width: 900px) {
  .top {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .search-box {
    grid-row: 1 / 2;
    width: 100%;
  }

  .current {
    width: 100%;
    grid-row: 3 / 4;
  }

  .degrees-toggle {
    grid-row: 2 / 3;
    width: 100%;
    justify-content: center;
  }

  .hourly {
    height: unset;
  }

  .hour-buttons {
    margin-left: 8px;
    margin-right: 0;
}

  .hours-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 48px;
  }

  .day-weather {
    grid-template-columns: repeat(2, auto);
    row-gap: 16px;
  }

  .day-hi-lo {
    grid-column: 1 / 3;
    width: unset;
  }
  
  .day-hi-deg {
      margin-right: 100px;
  }
}
